/* General */

*:focus {
  outline: 0;
  outline-color: transparent !important;
}

a, .tab-label, .monaco-custom-checkbox {
  transition: all 0.1s ease-in-out;
}

.monaco-editor .line-numbers {
  color: rgba(101, 115, 123, 0.4);
}

/* Indentation Guides */

.monaco-editor .lines-content .cigr {
  box-shadow: 1px 0 0 0 currentColor inset;
  color: rgba(255,255,255,0.2);
}

.monaco-editor .lines-content .cigr:nth-of-type(7n+2) {
  color: rgba(197, 148, 197, 0.3);
}

.monaco-editor .lines-content .cigr:nth-of-type(7n+3) {
  color: rgba(102, 153, 204, 0.3);
}

.monaco-editor .lines-content .cigr:nth-of-type(7n+4) {
  color: rgba(95, 179, 179, 0.3);
}

.monaco-editor .lines-content .cigr:nth-of-type(7n+5) {
  color: rgba(153, 199, 148, 0.3);
}

.monaco-editor .lines-content .cigr:nth-of-type(7n+6) {
  color: rgba(250, 200, 99, 0.25);
}

.monaco-editor .lines-content .cigr:nth-of-type(7n+7) {
  color: rgba(249, 145, 87, 0.3);
}

.monaco-editor .lines-content .cigr:nth-of-type(7n+8) {
  color: rgba(236, 95, 103, 0.3);
}

/* Syntax Highlighting */

.mtk3 {
  font-style: italic;
  font-weight: 100;
}

/* Sidebar */

.monaco-shell {
  color: rgba(255,255,255,0.5);
}

.monaco-icon-label>.monaco-icon-label-description-container>.label-description {
  font-weight: 100;
  opacity: 0.5;
}

.monaco-action-bar .action-item .action-label.extension-action {
  color: #1B2B34 !important;
  border-radius: 3px;
}

.monaco-action-bar .action-item .action-label.extension-action.prominent {
  background: #99C894;
}

.bookmark[style="border-top-color: rgb(50, 126, 54); color: rgb(255, 255, 255);"] {
  border-top-color: transparent !important;
  color: #fac863 !important;
}

.sidebar .description {
  font-style: italic;
  font-weight: 100;
  opacity: 0.5;
}

/* Editor */

.editor {
  box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.6);
}

.nosidebar .editor {
  box-shadow: none;
}

/* Top Bar */

.tab:hover .tab-label {
  color: #fff !important;
}

/* Editor Widget */

.editor-widget {
  background: linear-gradient(#1b2b34,#293a44);
}

.monaco-editor .overlayWidgets {
  height: 100%;
  width: calc(100% - 135px) !important;
  pointer-events: none;
}

.monaco-editor .overlayWidgets > * {
  pointer-events: all;
}

/* Find Widget */

.editor-widget.find-widget.visible {
  top: initial !important;
  bottom: -5px;
  right: inherit !important;
  left: 50%;
  transform: translateX(-50%);
  background: #343d46;
  border-radius: 3px 3px 0 0;
  max-width: 1185px !important;
}

.checked[style="border-color: rgb(0, 122, 204);"] {
  border-color: transparent !important;
  background-color: rgba(95, 179, 179, 0.25) !important;
  border-radius: 3px;
  background-blend-mode: screen;
  width: 19px;
  height: 19px;
  margin: 0 2px; /* Better alignment in Find bar */
}

.monaco-editor .find-widget .monaco-sash {
  display: none;
}

.monaco-editor .currentFindMatch, .monaco-editor .findMatch {
  border: 1px solid rgba(255,255,255,0.6) !important;
  padding: 0 0.5px !important;
  box-sizing: initial !important;
  display: inline-block;
  margin: 0 -1px;
  border-radius: 3px;
  z-index: 99;
  background: transparent !important;
  height: 16px !important;
}

.monaco-editor .currentFindMatch {
  border: 1px solid #fff !important;
}

/* Change star colors */

.extension-ratings>.full {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.3 10'%3E%3Cstyle%3E.st0{display:none}.st1,.st2{display:inline;opacity:.2;fill:%23ed1c24}.st2{opacity:.43;fill:%2339b54a}.st3{fill:%23353535}.st4{fill:%23fff}.st5{opacity:.8;fill:%23353535}.st5,.st6,.st7{display:inline}.st7{opacity:.8;fill:%23321f5a}.st8{opacity:.15;fill:%23353535}.st9{display:inline;opacity:.34}.st10{fill:%23070909}.st11{fill:%23333}.st12{fill:%237551a0}.st13{fill:%23d2d2d2}.st14{fill:%23e6e7e8}.st15,.st16{fill:%233076bc}.st16{display:none}.st17{display:inline;fill:%23321f5a}.st18{fill:%23FAC863}.st19{display:none;fill:none;stroke:%23bcbec0;stroke-miterlimit:10}.st20{opacity:.52}.st21{fill:none;stroke:%23be1e2d;stroke-miterlimit:10}.st22{fill:%23be1e2d}.st23,.st24{display:none;opacity:.2}.st24{display:inline}.st25{fill:%23656565}.st26{fill:%23d1d3d4}.st27{fill:%23eee}.st28{display:none;fill-rule:evenodd;clip-rule:evenodd;fill:%23f4f4f4}.st29{fill:%23505150}.st30{display:none;fill:%23bfd8e8}.st31{fill:%23224096}.st32{fill:%2317244e}.st33{display:inline;fill:%23353535}.st34{display:none;fill:%23f1f2f2}.st35{fill:%23009444}.st36{fill:none;stroke:%23505150;stroke-miterlimit:10}.st37{fill:%23b9d532}.st38,.st39{fill:none;stroke-miterlimit:10}.st38{stroke-width:.72;stroke-linejoin:round;stroke:%23d9d9d8}.st39{stroke:%23d2d2d2}.st40,.st41,.st42{display:inline;fill:%23333}.st41,.st42{fill:%237551a0}.st42{fill:%23d2d2d2}.st43{fill-rule:evenodd;clip-rule:evenodd;fill:%23eee}.st44{fill:%23321f5a}.st45{fill:none;stroke:%23bcbec0;stroke-miterlimit:10}.st46{opacity:.53;fill:%23fff}.st47{fill:none;stroke:%23ed1c24;stroke-miterlimit:10}.st48{fill:%23ed1c24}.st49,.st50{display:inline}.st49{fill:%23e71e27;opacity:.1}.st50{opacity:.3}.st51,.st52{fill:%23e71e27}.st52{display:inline;opacity:.2}.st53,.st54{fill:none;stroke-miterlimit:10}.st53{display:inline;stroke:%23ed1c24}.st54{stroke:%232e3192}.st55{fill:%232e3192}.st56{fill:none;stroke:%23fff200;stroke-miterlimit:10}.st57{fill:%23fff200}%3C/style%3E%3Cpath class='st18' d='M8 9.8c-.1 0-.2 0-.2-.1L5.2 7.8 2.6 9.7c-.1.1-.3.1-.5 0s-.2-.3-.2-.5l1-3.1L.3 4.3C.2 4.2.1 4 .2 3.8s.2-.3.4-.3h3.2l1-3.1c0-.1.2-.2.4-.2s.3.1.4.3l1 3.1h3.2c.2 0 .3.1.4.3.1.2 0 .3-.1.5L7.4 6.2l1 3.1c.1.2 0 .3-.1.5-.1-.1-.2 0-.3 0z' id='CARDS-RL'/%3E%3C/svg%3E");
}

.extension-ratings>.empty {
  opacity: 0.25;
}

/* Package sizes */

.monaco-editor .ced-TextEditorDecorationType1-4::after {
  margin-left: 0.5em !important;
}

.monaco-editor span[class^="ced-"]:after {
  opacity: 0.75;
  color: inherit !important;
  font-style: italic;
}

/* Vertical Rulers */

.monaco-editor .view-ruler {
  box-shadow: 1px 0 0 0 rgba(80, 144, 134, 0.4);
}